<% include header %>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include navbar-header %>
            <!-- /.navbar-header -->
            <% include navbar-side %>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Services</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <% for(var i=0; i<services.length; i++) { %>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-<%= services[i].color %>">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa <%= services[i].icon %> fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= services[i].status %></div>
                                    <div><%= services[i].name %></div>
                                    <div><strong>Version:</strong> <%= services[i].deploymentVersion %></div>
                                    <div><strong>Deployed:</strong> <%= services[i].deploymentDate %></div>
                                </div>
                            </div>
                        </div>
                        <a href="/service/<%= i %>">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<% include footer %>